// SCSS変数定義
$primary-color: #333;
$secondary-color: #666;
$accent-color: #226db9;
$accent-hover: #2781db;
$link-color: #b6000a;
$link-hover: #ee000b;
$border-color: #3986c4;
$bg-light: #fff;
$font-family: "Helvetica Neue", Arial, Helvetica, Geneva, "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif;